{% extends 'initial/layout.html' %}
{% block content %}
  <div class="container" id="global-chat-wrapper">
    <div class="col-12 text-center p-3">
      {%if not data | is_empty %}
        <h3>{{data[0].clubName}}
          Chats</h3>
      {% else %}
        <h3>Chats</h3>
      {%endif %}

    </div>
    <div class="col-12" id="global-message">

      {%if data| is_empty %}
        <p class="text-center">No Chats.</p>
      {%endif %}

      {% for d in data %}
        {% if d.username != username %}
          <div class="d-flex mb-2" id="global-chat-participant">
            <img src="/images/profile.jpg" style="width: 50px; height: 50px;" id="globalchat-participant-picture">
            <div class="text-start" id="globalchat-message-wrapper">
              <span class="mx-4">{{d.username}}</span>
              <p title="{{d.datetime|datetime_formatter}}" class="mx-3 border border-success text-dark bg-transparent" id="message">{{d.chat}}</p>
            </div>
          </div>
        {% else %}
          <div class="d-flex mb-2" id="global-chat-participant">
            <img src="/images/profile.jpg" style="width: 50px; height: 50px;" id="globalchat-participant-picture">
            <div class="text-start" id="globalchat-message-wrapper">
              <span class="mx-4">{{d.username}}</span>
              <p title="{{d.datetime|datetime_formatter}}" class="mx-3 " id="message">{{d.chat}}</p>
            </div>
          </div>
          {%endif%}
        {% endfor %}

      </div>
      <div class="col-12" id="globalchat-form">
        <form class="d-flex" method="post" id="chat-form" redirect="/">
          <textarea class="form-control" name="chat"></textarea>
          <button class="btn" type="submit" id="chat-form-btn">submit</button>
        </form>
      </div>
    </div>
    <script defer="defer" src="/javascript/realtime.js"></script>
  {% endblock %}