{% extends 'initial/layout.html' %}
{% block content %}
<div class="container">
	<h1 class="display-5">Club Chats</h1>


	<div class="chats-container scroll">
		{% if data|is_empty %}
		<p>No Chats available!</p>

		{% else %}

		<div id="oid"></div>
		{% for d in data|unique_chat|sort(false,true,"datetime")|reverse %}
		<div class="chats-content">
			<strong>
				datetime: {{d.datetime}}
				<a href="{{ctx.DOMAIN_NAME}}/chats/club/{{d.clubId}}">
					<h4>{{d.clubId}}</h4>
				</a>
			</strong>
		</div>
		{% endfor %}
		{% endif %}
	</div>

</div>

{% endblock %}