{% extends "auth/__init__/layout.html" %}

{% block content %}
  <div class="container center-layout">
    <div class="row">
      <div class="col-12 content-container">
        <div class="card center-layout">
          <div class="card-body">
            <div class="logo-container">
              <a href="#"><img src="/auth/img/pegion_request.png" class="img-fluid" alt="Account Required" id="auth-logo"></a>
            </div>
            <div class="title">
              <h3 class="banner">Account Recovery</h3>
            </div>
            <div class="action-banner">
              <p style="font-size: 16px;">Please input verification code send by admins</p>
            </div>
            <form method="post">
              <div class="form-container">
                <input name="recoverycode" type="text" class="form-control" placeholder="6 Digit Code">
              </div>
              <div class="form-container">
                <input name="password1" type="text" class="form-control" placeholder="New password" id="token-field">
              </div>
              <div class="form-container">
                <input name="password2" type="text" class="form-control" placeholder="Re-type password" id="token-field">
              </div>
              <button class="btn fa">&#xf061;</button>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}