{% extends "auth/__init__/layout.html" %}
{% block content %}

<div class="container center-layout">
  <div class="card-fluid card">
    <div class="card-body h-auto">
      <div class="row">
        <div class="col-lg-5 logo-container">
          <!--image-->
          <img src="/auth/img/pegion_main.png" alt="kalapatids" class="img-fluid">
        </div>
        <div class="col-lg-6 m-3 form-container">
          <!--form-->
          <h5 class="banner">Welcome Kalapatids</h5>
          <form method="post">
            <!-- Username -->
            <div class="form-group position-relative mb-2 me-3">
                  <i class="fa fa-user position-absolute"  style="top: 12px; left: 20" aria-hidden="true"></i>
              <input id="username" name="username" type="text" class="form-control text-center" placeholder="Username">
            </div>
            <!-- Password -->
            <div class="form-group mb-1 position-relative">
              <i class="fa fa-key position-absolute" style="top: 12px; left: 20" aria-hidden="true"></i>
              <input id="password" name="password" type="password" class="form-control text-center me-1"
                placeholder="Password">
            </div>
            <!-- Checkbox -->
            <div class="form-group form-check checkbox mb-0">
              <input id="rememberme" name="rememberme" type="checkbox" class="form-check-input">
              <p class="text-start">Remember me</p>
            </div>
            <!-- Submit button -->
            <div class="form-group mt-1 mb-1 d-flex justify-content-center btn-container">
              <div>
                <input type="submit" value="Login" class="form-control btn-success text-light fw-bold">
              </div>
            </div>
            <div class="auth position-relative text-start" style="left:2px;">
              <a class="text-decoration-none" href="{{ctx.DOMAIN_NAME}}/auth/recovery">Forgot Account
              </a>
            </div>
            <div class="auth position-relative text-start" style="left: 2px;">Don't have Account yet?
              <span>
                <a class="text-success text-decoration-none" href="{{ctx.DOMAIN_NAME}}/auth/register">Sign up</a>
              </span>
            </div>
        </div>
        </form>
        {% if isNotAuthenticated %}
        <p class="text-danger"></p>
        <script>
          swal({ title: "Login Failed!", text: "Wrong username or password!", icon: "warning", button: "Try Again!" });
        </script>
        {% endif %}
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}