{% extends 'initial/layout.html' %}
{% block content %}
		<div class="container-fluid">
				<form>
						<div class="row">
								<div class="col-lg-4">
										<div class="d-flex justify-content-between align-items-center" style="height: 50px;">
												<h5 class="fw-bold">Edit Profile</h5>
										</div>

										<div class="card-body">

												<div class="w-100 text-center my-3">
														<img src="/images/profile.jpg" style="width: 100px; height: 100px;" id="account-picture">
												</div>
												<p class="text-muted text-center" id="profile-id">Id:
														{{accData._id}}</p>
												<hr>
												<div class="w-auto">{{accData.firstName}}
														{{accData.middleName}}
														{{accData.lastName}}
														<span>({{accData.username}})</span>
														<p class="text-muted" style="font-size: 10px;">{{accData.email}}</p>
														<p>{{accData.phone}}</p>
												</div>
												<br>

										</div>
								</div>
								<div class="col-lg-8">
										<div class="row">
												<div class="col-lg-12">
														<main>
																<div class="cards">

																		<div class="card-content">
																				<h5 class="fw-bold">Information</h5>
																		</div>
																		<div class="card-body">
																				<p content-editable="content-editable">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti atque et suscipit consectetur fugiat veritatis, similique ullam sed iste eos minus quisquam, amet facilis at repellat nam. Odio, corrupti dolor!</p>
																		</div>
																</div>
														</main>
												</div>
										</div>
								</div>

						</div>
						<div class="d-flex">
								<button class="btn btnt-sm  m-2" type="submit">Save</button>
								<button class="btn btnt-sm  m-2" id="edit-profile-cancel-btn">Cancel</button>
						</div>
				</form>
		</div>

{% endblock %}