{% extends 'initial/layout.html' %}
{% block content %}
<div class="container">
	<h1>Profile</h1>
	<a class="btn-sm btn-primary  mx-3 my-5 py-2 px-4" href="{{ctx.DOMAIN_NAME}}/profile/message/{{othername}}"
		title="double click me!">message</a>
	<div>
		<form>
			<label class="mx-3" for="">username</label>
			<input class="form-control mx-3" type="text" value="{{userData.username}}">
			<label class="mx-3" for="">First Name</label>
			<input class="form-control mx-3" type="text" value="{{userData.firstname}}">
			<label class="mx-3" for="">Middle Name</label>
			<input class="form-control mx-3" type="text" value="{{userData.middlename}}">
			<label class="mx-3" for="">Last Name</label>
			<input class="form-control mx-3" type="text" value="{{userData.lastname}}">
		</form>
	</div>
</div>

{% endblock %}