{% extends '__init__/layout.html' %}
{% block content %}

  <div class="container-fluid">
    <div class="row">
      {% include "profile/show-profile/main.html"%}
      <div class="col-lg-8">
        <div class="row">
          {% include "profile/show-profile/bio.html"%}
          {% include "profile/show-profile/events.html"%}
          {% include "profile/show-profile/clubs.html"%}
        </div>
      </div>
    </div>
  </div>
  <script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?callback=GetShowProfileMap&key=Avdjdh0dcTQygVUUyePmkfhJrLB2zOS-hAej45Sw9C2vc0EZg_A8TmY1Yk3ggewJ' async="async" defer="defer"></script>
  <script type="text/javascript" src="/javascript/script.js"></script>
{% endblock %}