{% extends '__init__/layout.html' %}
{% block content %}

  <div class="container-fluid">
    <div class="row">

      <div class="col-lg-4">
        <div class="cards">
          <div class="d-flex justify-content-between align-items-center" style="height: 50px;">
            <h5 class="fw-bold h2">Profile</h5>
            <div class="d-flex">
              {% if accData.username == username %}
                <a href="{{ctx.DOMAIN_NAME}}/profile/edit?username={{accData.username}}&id={{profileData._id}}">
                  <i class="icons fa-solid fa-gear"></i>
                </a>
              {% endif %}
              <a href="{{ctx.DOMAIN_NAME}}/profile/message/?username={{othername}}">
                <i class="icons fa-regular fa-message"></i>
              </a>
            </div>
          </div>

          <div class="card-body">
            <div class="w-100 text-center my-3">
              <img src="{{profileData.profileURL}}" style="width: 100px; height: 100px;" id="account-picture">
            </div>
            {# <div class="w-100 text-center my-3 position-relative">
              <img src="/images/profile.jpg" style="width: 100px; height: 100px;" id="account-picture">
              <form method="post" class="position-relative" style="bottom: 20px; left: 120px; z-index: 100;">
                <input class="opacity-0" type="file" name="" id="">
              </form>
              <i class="fa-solid fa-camera position-absolute" style="top: 62%; right: 42%; font-size: 20px;"></i>
            </div> #}
            <p class="text-muted text-center" id="profile-id">{{accData.firstName}}
              {{accData.middleName}}
              {{accData.lastName}}
              <span>({{accData.username}})</span>
            </p>
            <hr>
            <div class="w-auto">

              <h5 class="fw-bold">Account Info</h5>
              <div class="d-flex px-2">
                <p class="fw-bold me-2">Email</p>
                <p class="text-muted">{{accData.email}}</p>
              </div>
              <div class="d-flex px-2">
                <p class="fw-bold me-2">Contact Number</p>
                <p>{{accData.phone}}</p>
              </div>

              <div class="d-flex px-2">
                <p class="fw-bold me-2">Address</p>
                <p>{{addrData.houseAddr}},
                  {{addrData.town}},{{addrData.province}}</p>
              </div>
              <div class="d-flex px-2">
                <p class="fw-bold me-2">Birthday</p>
                <p>{{accData.birthday| date_formatter}}</p>
              </div>
            </div>
            <br>
          </div>
        </div>

      </div>

      <div class="col-lg-8">
        <div class="row">

          <div class="col-lg-12">
            <footer class="mt-3">
              <div class="cards overflow-auto">
                <div class="card-content mb-3">
                  <h5 class="fw-bold">Bio</h5>
                </div>
                <div class="card-body">
                  <p>{{profileData.info}}</p>
                </div>
              </div>
            </footer>
          </div>
          <div class="col-lg-12">
            <footer class="mt-3">
              <div class="cards overflow-auto">
                <h5 class="fw-bold">
                  <i class="fa-solid fa-calendar-days"></i>
                  Events
                </h5>

                {# ADMIN OR MODERATOR #}
                <div class="card-body">
                  <div class="card-content mb-3">
                    <p class="fw-bold">
                      Managed Events
                    </p>
                  </div>
                  {# ADMIN  #}
                  {%set admin = false %}
                  {% for e in events%}
                    {%if  e.creatorName == username %}
                      {%set admin = true %}
                      <div class="card-content mb-3">
                        <img src="/images/events.jpg" style="width: 50px; height: 50px;" id="profile-club-picture">
                        <a href="{{ctx.DOMAIN_NAME}}/events/show?eventId={{e._id}}&clubId={{e.clubId}}">{{e.name}}</a>
                      </div>
                    {%else %}
                      {# MODERATOR  #}
                      {% for m in clubMembers %}
                        {%if m.clubId == e.clubId %}
                          <div class="card-content mb-3">
                            <img src="/images/events.jpg" style="width: 50px; height: 50px;" id="profile-club-picture">
                            <a href="{{ctx.DOMAIN_NAME}}/events/show?eventId={{e._id}}&clubId={{e.clubId}}">{{e.name}}</a>
                          </div>
                          {%endif%}
                          {%endfor%}

                          {%endif%}
                          {%endfor%}

                          {% if not admin %}
                            <p>Not an admin or moderator</p>
                          {% endif %}
                        </div>
                        {# NORMAL USER #}
                        <div class="card-body">
                          <div class="card-content mb-3">
                            <p class="fw-bold">
                              Participated Events</p>
                          </div>
                          <table class="table table-borderless">
                            <tbody id="profile-club">
                              {%set admin = true %}
                              {% for e in events %}
                                {% for p in eventParticipants %}
                                  {% if p.eventId | isMatch(e._id) %}
                                    {%set admin = false %}
                                    <tr>
                                      <td>
                                        <a href="{{ctx.DOMAIN_NAME}}/events/show?eventId={{p.eventId}}&clubId={{e.clubId}}">
                                          {{e.name}}</a>
                                      </td>
                                      <td>
                                        <p class='p-0 me-2 d-inline'>Participant Status:</p>
                                        {% if p.status == "accepted" %}
                                          <p class="badge bg-sucess mb-1">
                                            {{p.status}}</p>

                                        {% elif p.status == "pending" %}
                                          <p class="bg-warning d-inline text-white m-1 p-1">
                                            {{p.status}}</p>
                                          {%endif%}
                                        </td>
                                      </tr>
                                      {%endif%}
                                      {%endfor%}

                                      {%endfor%}
                                      {% if admin %}
                                        <td>
                                          <p>admin not allow to participate</p>
                                        </td>
                                      {% endif %}
                                    </tbody>
                                  </table>
                                </div>
                              </div>
                            </footer>
                          </div>

                          <div class="col-lg-12">
                            <footer class="mt-3" id="profile-group">
                              <div class="cards overflow-auto">
                                <div class="card-content mb-3">
                                  <h5 class="fw-bold">
                                    <i class="fa-regular fa-club"></i>
                                    Clubs
                                  </h5>

                                  <p class="fw-bold">Joined Clubs</p>
                                </div>
                                <div class="card-body d-flex justify-content-between">
                                  <table class="table table-borderless">
                                    <tbody id="profile-club">

                                      {% for c in clubs %}
                                        {% for m in clubMembers %}
                                          {% if m.clubId | isMatch(c._id) %}
                                            <tr>
                                              <td>
                                                <a href="{{ctx.DOMAIN_NAME}}/clubs/show?clubId={{c._id}}">
                                                  <img src="/images/club.jpg" style="width: 50px; height: 50px;" id="profile-club-picture"></th>
                                                <span class="mx-2">
                                                  {{c.name}}
                                                </span>
                                              </a>

                                            </td>
                                            <td>
                                              <div id="profile-link">
                                                <a class="text-dark" href="{{ctx.DOMAIN_NAME}}/chats/show?clubId={{c._id}}" data-toggle="tooltip" data-placement="top" title="Club Chat">
                                                  <i class="icons fa-solid fa-comment" id="profile-icons"></i>
                                                </a>
                                              </div>
                                            </td>

                                          </tr>
                                          {%endif%}
                                          {%endfor%}
                                          {%endfor%}

                                        </tbody>
                                      </table>
                                    </div>
                                  </div>
                                </footer>
                              </div>

                            </div>
                          </div>
                        </div>
                      </div>

                      <script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?callback=GetShowProfileMap&key=Avdjdh0dcTQygVUUyePmkfhJrLB2zOS-hAej45Sw9C2vc0EZg_A8TmY1Yk3ggewJ' async="async" defer="defer"></script>
                      <script type="text/javascript" src="/javascript/script.js"></script>
                    {% endblock %}