{% extends '__init__/layout.html' %}
{% block content %}
	<div class="container">
		<p	class="h3 fw-bolder" >Weather Information</p>
		<div id="forcast-container" class="row d-flex justify-content-center"></div>
	</div>
</div>
<script>
	if (navigator.geolocation) {
		navigator
			.geolocation
			.getCurrentPosition(function (position) {
				let {latitude, longitude} = position.coords;
				getForcastWeather(`${latitude},${longitude}`)

				async function getForcastWeather(location) {
					fetch(`https://api.weatherapi.com/v1/forecast.json?key=3f66c7588cc14f418bb11203220705&q=${location}&days=7`)
						.then(response => response.json())
						.then(data => {
							let currentday = data.current
							let currentlocation = data.location
							let forcastday = data
								.forecast
								.forecastday
								$("#forcast-container")
								.append(`

										<div class=" d-inline-block card mx-3" style='width: 18rem ;height: 25rem; border-radius: 0; padding:0;'>
											<div class='card-header d-flex flex-column text-center' style='background: #D2EEE2;height: 10rem'>
												<span class="text-center"><img style="width: 90px;height: 90px;" src="${currentday.condition.icon}"></span>
												<small class=" fw-bold" style='color:#015F37'>${currentday.condition.text} in ${currentlocation.name}</small>	
												<small class="card-text fw-bold" style='color:#015F37'>Today</small>
											</div>
											<div class='m-3'>
												<small class="card-text fw-bold">Current Temperature: <span class='text-muted'>${currentday.temp_c} °C</span></small><br>
												<small class="card-text fw-bold">Current Temperature: <span class='text-muted'>${currentday.temp_f} °F</span></small><br>
												<small class="card-text fw-bold">Wind Speed: <span class='text-muted'>${currentday.wind_kph} KPH</span></small><br>
												<small class="card-text fw-bold">Wind Speed: <span class='text-muted'>${currentday.wind_mph} MPH</span></small><br>
												<small class="card-text fw-bold">Humidity: <span class='text-muted'>${currentday.humidity} %</span></small><br>
											</div>
										
							`)
							function formatDate(date) {
								var options = {
									weekday: 'long',
									year: 'numeric',
									month: 'long',
									day: 'numeric',
									time: 'numeric'
								}
								let newDate = new Date(date)
								return newDate.toLocaleDateString("en-US", options)
							}

							forcastday.map((d, i) => {
								currentdayindex = 0
								if (i !== currentdayindex) {
									$("#forcast-container").append(`
										<div class='cards mx-3' style='width: 18rem; height: 25rem; border-radius: 0; padding:0;'>
											<div class='card-header d-flex flex-column text-center' style='background: #D2EEE2;height: 10rem'>
												<span class="text-center"><img style="width: 90px;height: 90px;" src="${d.day.condition.icon}"></span>
												<small class=" fw-bold" style='color:#015F37'>${formatDate(d.date)}</small>	
											</div>
											<div class='m-3'>
												<small class='fw-bold'>Wind Speed: <span class='text-muted'>${d.day.maxwind_mph} MPH</span></small><br>
												<small class='fw-bold'>Wind Speed: <span class='text-muted'>${d.day.maxwind_kph} KPH</span></small><br>
												<small class='fw-bold'>Humidity: <span class='text-muted'>${d.day.avghumidity} %</span></small><br>
												<small class='fw-bold'>Average Temperature: <span class='text-muted'>${d.day.avgtemp_c} °C</span></small><br>
												<small class='fw-bold'>Average Temperature: <span class='text-muted'>${d.day.avgtemp_f} °F</span></small><br>	
											</div>
										</div>
							`)
								}

							})

						})
						.catch(err => {
							console.log(err)
						})
					}
			});
	}
</script>
{% endblock %}