{% extends '__init__/layout.html' %}
{% block content %}
	<div class="container">
		<h1 class="h2 fw-bolder mt-2">Forecast Days</h1>
		<div id="forcast-container" class="row cards"></div>
	</div>
</div>

<script>
	if (navigator.geolocation) {
		navigator
			.geolocation
			.getCurrentPosition(function (position) {
				let {latitude, longitude} = position.coords;
				getForcastWeather(`${latitude},${longitude}`)

				async function getForcastWeather(location) {
					fetch(`https://api.weatherapi.com/v1/forecast.json?key=3f66c7588cc14f418bb11203220705&q=${location}&days=7`)
						.then(response => response.json())
						.then(data => {
							let currentday = data.current
							let currentlocation = data.location
							let forcastday = data
								.forecast
								.forecastday
								$("#forcast-container")
								.append(`

							<div class='w-100 col-lg-5 mb-3'>
							<div class="row">
								<div class="col-12">
									<div class="w-100">
										<div class=" d-inline-block w-50">
										<h3	class="h3 fw-bolder">Weather Information</h3>
											<p class="card-text">Current Temperature:${currentday.temp_c}°C</p>
											<p class="card-text">Current Temperature:${currentday.temp_f}°F</p>
											<p class="card-text">Wind Speed:${currentday.wind_kph}KPH</p>
											<p class="card-text">Wind Speed:${currentday.wind_mph}MPH</p>
											<p class="card-text">Humidity:${currentday.humidity}%</p>
											<p class="card-text">Cloud:${currentday.cloud}%</p>
											<p class="card-text">Feels Liked:${currentday.feelslike_c}°C</p>
											<p class="card-text">Feels Liked: ${currentday.feelslike_f}°F</p>
											<p class="card-text">Last Updated: ${formatDate(currentday.last_updated)}</p>
										</div>
									<div class="d-inline-block w-25">
										<h4 class=" fw-bold">${currentday.condition.text} in ${currentlocation.name}</h4>
											<span class="text-center"><img style="width: 400px;height: 400px;" src="${currentday.condition.icon}"></img>
											</span>
										</div>
									</div>
										
						</div>
									</div>
							</div>
							`)
							function formatDate(date) {
								var options = {
									weekday: 'long',
									year: 'numeric',
									month: 'long',
									day: 'numeric',
									time: 'numeric'
								}
								let newDate = new Date(date)
								return newDate.toLocaleDateString("en-US", options)
							}

							forcastday.map((d, i) => {
								currentdayindex = 0
								if (i !== currentdayindex) {
									$("#forcast-container").append(`
								<div class=' col-lg-6 mt-3'>
										<p class="h5 fw-bolder"> ${formatDate(d.date)}</p>
									<p>humidity: ${d.day.avghumidity}</p>
									<p>average temperature: ${d.day.avgtemp_c}</p>
									<p>average temperature: ${d.day.avgtemp_f}</p>
									<p>maximum wind per miles: ${d.day.maxwind_mph}</p>
									<p>maximum wind per kilometer: ${d.day.maxwind_kph}</p>
									<p>average velocity per miles: ${d.day.avgvis_miles}</p>
								</div>
							`)
								}

							})

						})
						.catch(err => {
							console.log(err)
						})
					}
			});
	}
</script>
{% endblock %}