<div class="position-fixed">
	<!-- <code>
		CURRENT USER: [{{username}}]
		OTHER USER: [{{otherusername}}]
		CURRENT ID: [{{accountId}}]
	</code> -->
	<nav>
		<ul>
			<li class="d-inline"><a class="btn btn-sm btn-outline-success m-2 d-inline"
					href="{{ctx.DOMAIN_NAME}}/auth/logout">logout</a></li>
			<li class="d-inline"><a class="btn btn-sm btn-outline-success m-2 d-inline"
					href="{{ctx.DOMAIN_NAME}}/auth/login">login</a></li>
			<li class="d-inline"><a class="btn btn-sm btn-outline-success m-2 d-inline"
					href="{{ctx.DOMAIN_NAME}}/auth/register">register</a></li>
			<li class="d-inline"><a class="btn btn-sm btn-outline-success m-2 d-inline"
					href="{{ctx.DOMAIN_NAME}}/auth/recovery">recovery</a></li>
			<li class="d-inline"><a class="btn btn-sm btn-outline-success m-2 d-inline"
					href="{{ctx.DOMAIN_NAME}}/auth/recovery/confirm">confirm
					recovery</a></li>


			<li class="d-inline"><a class="btn btn-sm btn-outline-success m-2 d-inline"
					href="{{ctx.DOMAIN_NAME}}/messages">messages</a></li>
			<li class="d-inline"><a class="btn btn-sm btn-outline-success m-2 d-inline"
					href="{{ctx.DOMAIN_NAME}}/chats">chats</a></li>
			<li class="d-inline"><a class="btn btn-sm btn-outline-success m-2 d-inline"
					href="{{ctx.DOMAIN_NAME}}/notifications">notifications</a></li>
			<li class="d-inline"><a class="btn btn-sm btn-outline-success m-2 d-inline"
					href="{{ctx.DOMAIN_NAME}}/profile">profile</a></li>
			<li class="d-inline"><a class="btn btn-sm btn-outline-success m-2 d-inline"
					href="{{ctx.DOMAIN_NAME}}/events">events</a></li>
			<li class="d-inline"><a class="btn btn-sm btn-outline-success m-2 d-inline"
					href="{{ctx.DOMAIN_NAME}}/clubs">clubs</a></li>
			<li class="d-inline"><a class="btn btn-sm btn-outline-success m-2 d-inline"
					href="{{ctx.DOMAIN_NAME}}/posts">posts</a></li>
		</ul>
	</nav>
</div>