/*content container for auth.
confirm.token
confrim.token
reset.password
*/
body {
  font-family: "Poppins", sans-serif;
  background: #F2F2F2;
}
body .content-container {
  height: 100vh;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}
body .content-container .card {
  height: auto;
  width: 55vw;
  background: #F2F2F2;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 2rem;
  box-shadow: 20px 20px 68px #d3d3d3, -20px -20px 68px #ffffff;
}
body .content-container .card .card-header {
  all: unset;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .content-container .card .card-header .title {
  color: #2D2626;
}
body .content-container .card .card-header img {
  height: 150px;
  width: 150px;
  margin-top: 10px;
  margin-bottom: 5px;
}
body .content-container .card .card-header .token-banner {
  color: #C5C3C3;
  margin-top: 5px;
  margin-bottom: 5px;
}
body .content-container .card .card-body {
  display: flex;
  justify-content: center;
}
body .content-container .card .card-body form {
  width: 85%;
}
body .content-container .card .card-body form #token {
  background: #000;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}
body .content-container .card .card-body form #token #token-field {
  height: 30px;
  width: 50%;
  margin-bottom: 20px;
  color: #C5C3C3;
  border-radius: 50px;
  background: #F2F2F2;
  box-shadow: 5px 5px 10px #cecece, -5px -5px 10px #ffffff;
  border: 2px #ffffff solid;
  background-color: #F2F2F2;
}
body .content-container .card .card-body form #token ::-moz-placeholder {
  color: #C5C3C3;
  font-size: 14px;
}
body .content-container .card .card-body form #token :-ms-input-placeholder {
  color: #C5C3C3;
  font-size: 14px;
}
body .content-container .card .card-body form #token ::placeholder {
  color: #C5C3C3;
  font-size: 14px;
}
body .content-container .card .card-body form #reset-btn {
  height: 40px;
  width: 40px;
  margin: 15px;
  color: #c5c3c3;
  font-size: 20px;
  font-weight: 900;
  background: #2DA380;
  border: none;
  border-radius: 50%;
}
body .content-container .card .card-body form #reset-btn:hover {
  background-color: #004430;
}
body .content-container .card .card-body form #reset-btn:focus {
  box-shadow: none;
}

@media (min-width: 0px) and (max-width: 576px) {
  body .content-container .card {
    height: 95vh;
    width: 95vw;
  }
  body .content-container .card .card-header img {
    height: 120px;
    width: 120px;
    margin-top: 20px;
    margin-bottom: 5px;
  }
  body .content-container .card .card-header h3 {
    font-size: 20px;
  }
  body .content-container .card .card-header .token-banner {
    width: 80%;
    display: flex;
    justify-content: center;
    font-size: 12px;
    font-weight: 400;
  }
  body .content-container .card .card-body {
    display: flex;
    justify-content: center;
  }
  body .content-container .card .card-body form {
    width: 90%;
  }
  body .content-container .card .card-body form #token #token-field {
    width: 80%;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  body .content-container .card {
    height: 95vh;
    width: 95vw;
  }
  body .content-container .card .card-header img {
    height: 150px;
    width: 150px;
    margin-top: 20px;
    margin-bottom: 5px;
  }
  body .content-container .card .card-header h3 {
    font-size: 24px;
  }
  body .content-container .card .card-header .token-banner {
    width: 80%;
    display: flex;
    justify-content: center;
    font-size: 14px;
    font-weight: 400;
  }
  body .content-container .card .card-body {
    display: flex;
    justify-content: center;
  }
  body .content-container .card .card-body form {
    width: 90%;
  }
  body .content-container .card .card-body form #token #token-field {
    width: 50%;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  body .content-container .card {
    width: 50vw;
  }
  body .content-container .card .card-header .token-banner {
    width: 80%;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
  }
  body .content-container .card .card-body {
    display: flex;
    justify-content: center;
  }
  body .content-container .card .card-body form {
    width: 85%;
  }
  body .content-container .card .card-body form #token #token-field {
    width: 50%;
  }
}
@media (min-width: 1200px) {
  body .content-container .card {
    width: 40vw;
  }
  body .content-container .card .card-header .token-banner {
    text-align: center;
    width: 80%;
    font-size: 16px;
    font-weight: 400;
  }
  body .content-container .card .card-body {
    display: flex;
    justify-content: center;
  }
  body .content-container .card .card-body form {
    width: 85%;
  }
  body .content-container .card .card-body form #token #token-field {
    width: 50%;
  }
}/*# sourceMappingURL=reset.password.css.map */