{% extends 'initial/layout.html' %}
{% block content %}
<div class="container">
	<h1>Home</h1>
	
	<div class="msg-container">

		<table>
			<tbody>
				<tr>
					<td>
						<hr>
						<a class="btn btn-sm btn-outline-success m-2" href="{{ctx.DOMAIN_NAME}}/auth/login">login</a>
					</td>
				</tr>
				<tr>
					<td>
						<a class="btn btn-sm btn-outline-success m-2" href="{{ctx.DOMAIN_NAME}}/auth/register">register</a>
					</td>
				</tr>
				<tr>
					<td>
						<a class="btn btn-sm btn-outline-success m-2" href="{{ctx.DOMAIN_NAME}}/auth/recovery">recovery</a>
					</td>
				</tr>
				<tr>
					<td>
						<a class="btn btn-sm btn-outline-success m-2" href="{{ctx.DOMAIN_NAME}}/auth/recovery/confirm">confirm
							recovery</a>
					</td>
				</tr>

				<tr>
					<td>
						<hr>
						<a class="btn btn-sm btn-outline-success m-2" href="{{ctx.DOMAIN_NAME}}/messages">messages</a>
					</td>
				</tr>


				<tr>
					<td>
						<a class="btn btn-sm btn-outline-success m-2" href="{{ctx.DOMAIN_NAME}}/chats">chats</a>
					</td>
				</tr>

				<tr>
					<td>
						<a class="btn btn-sm btn-outline-success m-2" href="{{ctx.DOMAIN_NAME}}/notifications">notifications</a>
					</td>
				</tr>


				<tr>
					<td>
						<a class="btn btn-sm btn-outline-success m-2" href="{{ctx.DOMAIN_NAME}}/profile">profile</a>
					</td>
				</tr>

				<tr>
					<td>
						<a class="btn btn-sm btn-outline-success m-2" href="{{ctx.DOMAIN_NAME}}/events">events</a>
					</td>
				</tr>

				<tr>
					<td>
						<a class="btn btn-sm btn-outline-success m-2" href="{{ctx.DOMAIN_NAME}}/clubs">clubs</a>
					</td>
				</tr>
				<tr>
					<td>
						<a class="btn btn-sm btn-outline-success m-2" href="{{ctx.DOMAIN_NAME}}/posts">posts</a>
					</td>
				</tr>

				<tr>
					<td>
						<a class="btn btn-sm btn-outline-success m-2" href="{{ctx.DOMAIN_NAME}}/auth/logout">logout</a>
					</td>
				</tr>

			</tbody>
		</table>

	</div>

</div>
{% endblock %}