@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

p {
  color: #2D2626;
  margin: 0;
}

a {
  text-decoration: none;
  z-index: 1000;
}

.icons {
  margin: 3px;
  color: #2D2626;
  font-size: 16px;
  font-weight: bold;
  transition: 0.3s;
}

.icons:hover {
  color: #2DA380;
  border-radius: 50%;
}

.card {
  padding: 20px;
  height: auto;
  width: auto;
  margin: 5px;
  background: #F2F2F2;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 2rem;
  box-shadow: 20px 20px 68px #d3d3d3, -20px -20px 68px #ffffff;
}

.card-header {
  border: none;
  background: #F2F2F2;
}

.card-footer {
  border: none;
  background: #F2F2F2;
}

.form-control {
  height: auto;
  width: auto;
  margin: 5px;
  background: #F2F2F2;
  border: 3px solid rgb(255, 255, 255);
  border-radius: 2rem;
  box-shadow: 20px 20px 68px #d3d3d3, -20px -20px 68px #ffffff;
}

.form-control:focus {
  color: #2D2626;
  border-color: #2DA380;
  background: #F2F2F2;
  font-family: "Poppins", sans-serif;
  outline: none;
  box-shadow: none;
}

.form-control::placeholder {
  color: #C5C3C3;
}

.btn {
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #F2F2F2;
  font-weight: bold;
  border-radius: 50%;
  background: #2DA380 !important;
  border: 3px solid rgb(255, 255, 255);
  border-radius: 2rem;
  box-shadow: 20px 20px 68px #d3d3d3, -20px -20px 68px #ffffff;
  z-index: 1000;
}

.btn:hover {
  color: #2DA380;
  background: #F2F2F2 !important;
}

.btn:focus {
  border-color: #2DA380;
  background: #F2F2F2;
  outline: none;
  box-shadow: none;
}

.badge {
  background: #2DA380 !important;
  height: 20px;
  z-index: 1000;
}

#global-chat-wrapper {
  height: 90vh;
}

#global-message {
  overflow-y: auto;
  height: 70vh;
}

#global-chat-participant {
  display: flex;
  align-items: center;
}

#globalchat-participant-picture {
  padding: 3px;
  margin-right: 10px;
  background: #2DA380;
  border-radius: 50%;
}

#globalchat-message-wrapper {
  width: auto;
}

#globalchat-message-wrapper span {
  font-weight: 600;
  color: #2D2626;
}

#globalchat-message-wrapper p {
  padding: 10px;
  width: auto;
  color: #F2F2F2;
  background: #2DA380;
  border-radius: 1rem;
}

#globalchat-form form textarea {
  width: 100%;
  max-height: 70vh;
}

#globalchat-form form button {
  max-height: 40px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #C5C3C3;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2DA380;
}

.navbar-expand-lg .navbar-nav .nav-link {
  color: #2D2626;
  font-weight: bold;
  transition: 0.3s;
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
  color: #2DA380;
}

#account-picture,
#profile-club-picture {
  background: #2DA380;
  padding: 1px;
  border-radius: 50%;
}

#profile-link #profile-icons {
  font-size: 18px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/*# sourceMappingURL=style.css.map */