

.chat-container{
	width: 900px;
	height: 400px;
	padding: 2px;
	margin: 4px;
	border: 2px solid black;
}
.chat-content{
	border: 1px solid grey;
	border-radius: 4px;
	padding: 2px;
	margin: 4px;
}
.chat-form-container{
padding: 2px;
	margin: 10px 4px;
}

div.scroll {
	overflow-x: hidden;
	overflow-y: auto;
	white-space: nowrap;
}
