<!-- styles -->
<link rel="icon" href="/auth/img/pegion_main.png" type="image/icon type">
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/style.css">
<script src="/javascript/realtime.js"></script>
<script src="/javascript/realtime-events.js"></script>

<!--autorefilling scripts -->
<script src="/javascript/autorefilling/clubs/club-creation.js"></script>
<script src="/javascript/autorefilling/clubs/club-member-request.js"></script>
<script src="/javascript/autorefilling/events/event-creation.js"></script>
<script src="/javascript/autorefilling/events/participant-request.js"></script>