{% extends 'initial/layout.html' %}
{% block content %}
<div class="container">
  <h1>Messaging</h1>
  username: {{username}}
  <div class="msg-container scroll">
    {% if data| is_empty %}
    <p>No Messaging available!</p>

    {% else %}

    {% for d in data|unique|sort(false,true,'datetime')|reverse %}
    <div class="msg-content">
      <hr>
      {{d.datetime}}:
      {% if d.username2 == username %}
      <a href="{{ctx.DOMAIN_NAME}}/messages/{{d.messageId}}?username={{d.username1}}">
        <h4>{{d.username1}}</h4>
      </a>
      {% else %}
      <a href="{{ctx.DOMAIN_NAME}}/messages/{{d.messageId}}?username={{d.username2}}">
        <h4>{{d.username2}}</h4>
      </a>
      {% endif %}
      <br>
    </div>
    {% endfor %}
    {% endif %}
  </div>

</div>

{% endblock %}