{% extends 'initial/layout.html' %}
{% block content %}
<div class="container">
  <h1 class="display-5">{{otherusername}}</h1>

  {% include 'search/message-search.html' %}
  <div class="msg-box-container">
    {% for d in messages %}

    {% if d.username2 != otherusername %}

    <div class="msg-content">
      <div>{{d.datetime}}</div>
      <div>{{d.username1}}</div>
      <pre>{{d.msg}}</pre>
    </div>

    {% else %}

    <div class="msg-content text-white bg-dark">
      <div>{{d.datetime}}</div>
      <div>{{d.username1}}</div>
      <pre>{{d.msg}}</pre>
      <form method="post" action="{{ctx.DOMAIN_NAME}}/messages/{{d.messageId}}/delete">
        <input name="username" type="text" hidden="hidden" value="{{d.username2}}">
        <input name="messageId" type="text" hidden="hidden" value="{{d.messageId}}">
        <input name="mid" type="text" hidden="hidden" value="{{d._id}}">
        <input id="msg-rm-form-btn" type="submit" value="remove" class="text-danger">
      </form>
    </div>
    {% endif %}
    {% endfor %}
  </div>


  <div class="chat-form-container">
    <form method="post" id="chat-form">
      <textarea title="text-area" name="msg" id="" cols="20" rows="2"></textarea>
      <button id="msg-form-btn" type="submit">submit</button>
    </form>
  </div>
</div>


{% endblock %}