{% extends '__init__/layout.html' %}
{% block content %}
	<div class="container">
		<h1 class="h2 fw-bolder mt-2">Notifications</h1>
		<div class="cards">
			<table class="table table-borderless">
				<tbody>

					<tr>
						<td>
							<div class="d-flex">
								<img id="account-picture" style="height: 45px; width: 45px; border-radius: 50%; margin-right: 5px" src="/images/club.jpg" alt="">
								<div>
									<p class="fw-bold">Pigeon Club INC</p>
									<small class="text-muted">Just Now</small>
								</div>
							</div>
						</td>
						<td>
							<a href="#">
								<p>Club decline your request.</p>
							</a>
						</td>
					</tr>

					<tr>
						<td>
							<div class="d-flex">
								<img id="account-picture" style="height: 45px; width: 45px; border-radius: 50%; margin-right: 5px" src="/images/club.jpg" alt="">
								<div>
									<p class="fw-bold">Pigeon Club INC</p>
									<small class="text-muted">Just Now</small>
								</div>
							</div>
						</td>
						<td>
							<a href="#">
								<p>Club decline your request.</p>
							</a>
						</td>
					</tr>

					<tr>
						<td>
							<div class="d-flex">
								<img id="account-picture" style="height: 45px; width: 45px; border-radius: 50%; margin-right: 5px" src="/images/club.jpg" alt="">
								<div>
									<p class="fw-bold">Pigeon Club INC</p>
									<small class="text-muted">Just Now</small>
								</div>
							</div>
						</td>
						<td>
							<a href="#">
								<p>Club decline your request.</p>
							</a>
						</td>
					</tr>

					<tr>
						<td>
							<div class="d-flex">
								<img id="account-picture" style="height: 45px; width: 45px; border-radius: 50%; margin-right: 5px" src="/images/club.jpg" alt="">
								<div>
									<p class="fw-bold">Pigeon Club INC</p>
									<small class="text-muted">Just Now</small>
								</div>
							</div>
						</td>
						<td>
							<a href="#">
								<p>Club decline your request.</p>
							</a>
						</td>
					</tr>

				</tbody>
			</table>
		</div>
		<script defer="defer" src="/javascript/realtime.js"></script>
	{% endblock %}