{% extends '__init__/layout.html' %}
{% block content %}
  <div class="container">
    <h1 class="h2 fw-bolder mt-2">Notifications</h1>
    <div class="notification mt-2">
      <div class="box notif-content">
        {% if  notifications | is_empty%}
          <p class="text-center">No notifications.</p>
        {% endif %}
      </div>
      {# {% for n in notifications | sort('datetime') | reverse %}
        <div class="box notif-content">
          <a class="text-decoration-none text-success" href="{{ctx.DOMAIN_NAME}}/notifications/{{n._id}}">{{n.content}}</a>
        </div>
      {% endfor %} #}

    </div>
  </div>
{% endblock %}