{% extends '__init__/layout.html' %}
{% block content %}
	<div class="container">
		<h1 class="h2 fw-bolder mt-2">Notifications</h1>
		<div class="cards">
			<table class="table table-borderless">
				<tbody>
					{% for notif in allnotifications | sort(false, true, "datetime") | reverse %}
						<tr>
							<td>
								<div class="d-flex">
									<p class="text-success">
										<i class="fa-solid fa-bell"></i>
									</p>
									<a class="mx-2" href="{{notification.data.link}}">
										<div>
											<p class="fw-bold">{{notif.data.title}}</p>
											<small class="text-muted">{{notif.data.message}}</small>
										</div>
									</a>
								</div>
							</td>

						</tr>

					{% endfor %}
				</tbody>
			</table>
		</div>
		<script defer="defer" src="/javascript/realtime.js"></script>
	{% endblock %}