<a class="nav-link" id="notification" data-bs-toggle="dropdown" aria-expanded="false" style="cursor: pointer;">Notifications</a>
<div class="dropdown-menu bg-white" aria-labelledby="notification" style="width: 30rem; right: 100%; left: auto; z-index: 2000;">
	<header class="fw-bold   h4 px-4">Notifications</header>
	<hr>
	<main>
		<table class="table table-borderless">
			<tbody>
				{% if notifications | is_empty %}
					<tr>
						<p class="text-center">No Notification Yet.</p>
					</tr>
				{% endif %}
				{% for notification in notifications | sort(false, true, "datetime") | reverse | limit(7) %}
					<tr>
						<td>
							<div class="d-flex">
								<p class="text-success">
									<i class="fa-solid fa-bell"></i>
								</p>
								<a class="mx-2" href="{{notification.data.link}}">
									<div>
										<p class="fw-bold">{{notification.data.title}}</p>
										<small class="text-muted">{{notification.data.message}}</small>
									</div>
								</a>
							</div>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<div class="d-flex justify-content-center">
			<a href="{{ctx.DOMAIN_NAME}}/notifications" class="mx-4 text-center fw-bolder text-success">see more notifications</a>
		</div>
	</main>
</div>