<a class="nav-link" id="notification" data-bs-toggle="dropdown" aria-expanded="false" style="cursor: pointer;">Notifications</a>
<div class="dropdown-menu" aria-labelledby="notification" style="width: 30rem; right: 100%; left: auto;">
	<header class="fw-bold text-center w-100">Notification</header>
	<hr>
	<main class="w-100">
		<table class="table table-borderless">
			<tbody>
				<tr>
					<td>
						<div class="d-flex">
							<img id="account-picture" style="height: 45px; width: 45px; border-radius: 50%; margin-right: 5px" src="/images/club.jpg" alt="">
							<div>
								<p class="fw-bold">Pigeon Club INC</p>
								<small class="text-muted">Just Now</small>
							</div>
						</div>
					</td>
					<td>
						<a href="#">
							<p>Club decline your request.</p>
						</a>
					</td>
				</tr>
			</tbody>
		</table>
	</main>