{% extends 'initial/layout.html' %}
{% block content %}
{% for a in accounts %}
<div>
	<p data-id="{{a._id}}">{{ a.username }}</p>
	<input type="checkbox" name="" id="">
</div>
{% endfor %}

<form id="add-member-form" action="{{ctx.DOMAIN_NAME}}/clubs/add-member/{{clubId}}" method="POST">
	<input type="submit" value="submit">
</form>
<script>
	$(document).ready(function () {
		function getMembers() {
			let members = []
			let data = $('input[type="checkbox"]:checked').parent().find('p')
			data.each(function () {
				members.push({
					accountId: $(this).data('id'),
					username: $(this).text(),
					memberStatus: "normal"
				})
			})
			return members
		}

		function sendJSONData(url, data) {
			fetch(url, {
					method: "post",
					headers: {
						"Content-Type": "application/json"
					},
					body: JSON.stringify(data)
				})
				.catch(err => console.error(err))
		}

		$("#add-member-form").submit(function () {
			var data = {
				members: getMembers()
			}
			sendJSONData($(this).attr("action"), data)
		})
	});
</script>
{% endblock %}