{% extends 'initial/layout.html' %}
{% block content %}
<div class="container">
	<h1>Create Club</h1>
	<div class="container club-form-container">
		<form action="{{ctx.DOMAIN_NAME}}/clubs/save" method="post">
			<div class="form-group w-50">

				<div class="my-4">
					<label for="clubName">Club Name</label>
					<input class="form-control form-control-sm " name="clubName" type="text" value="{{context.eventName}}"
						placeholder="Club Name">
				</div>
				<input class="my-4" type="submit" value="Save">
			</div>
		</form>
	</div>
</div>
{% endblock %}