{% extends '__init__/layout.html' %}
{% block content %}

	<div class="container-fluid">
		<form method="POST">
			<div class="row">
				<div class="col-lg-4">
					<div class="cards">
						<div class="d-flex justify-content-between align-items-center" style="height: 50px;">
							<h5 class="fw-bold">Edit Club</h5>
						</div>

						<div>
							<div class="card-body">
								<div class="w-100 text-center my-3">
									<img src="/images/club.jpg" style="width: 100px; height: 90px;" id="account-picture">
								</div>
								<div class="w-auto">
									<div >
										<p class="fw-bolder">Club Name</p>
										<input type="text" name="clubName" value="{{club.name}}">
									</div>
								</div>
								<br>
							</div>
							<br>
						</div>
					</div>
				</div>

				<div class="col-lg-8">
					<div class="row">

						<div class="col-lg-12">
							<main>
								<div class="cards">
									<div class="card-content">
										<h5 class="fw-bold">Description</h5>
									</div>
									<div class="card-body">
										<textarea name="description" class="w-100 h-50">{{club.description}}</textarea>
									</div>
								</div>
							</main>
						</div>
						{# ===================================================== #}
						<div class="col-lg-12">
							<main>
								<div class="cards">
									<div class="card-content">
										<h5 class="fw-bold">Administrative Options</h5>
									</div>
									<div class="card-body">
										<a type="submit" class="btn-danger" href="{{ctx.DOMAIN_NAME}}/clubs/delete?clubId={{club._id}}">delete club</a>
									</div>
								</div>
							</main>
						</div>
					</div>

				</div>

			</div>
			<span>
				<button class="d-inline btn btn-sm btn-success" type="submit">update</button>
				<a class="d-inline btn btn-sm btn-success" href="{{ctx.DOMAIN_NAME}}/clubs/show?clubId={{club._id}}">cancel</a>
			</span>
		</form>
	</div>

{% endblock %}