{% extends 'initial/layout.html' %}
{% block content %}
<div class="container">
  <h1>Clubs</h1>
  <div class="container club-form-container my-2">
    <a class="btn btn-sm btn-success my-2" href="{{ctx.DOMAIN_NAME}}/clubs/create">Create New Club</a>
  </div>
  <div class="club-table-container container my-2">
    <table class="club-table table table-light  table-bordered">
      <theader>
        <th>Club Names</th>
      </theader>
      <tbody>
        {% for c in clubs|sort(false,true,'datetime') |reverse %}
        <tr>
          <td><a href="{{ctx.DOMAIN_NAME}}/clubs/show/{{c._id}}">{{c.name}}</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

</div>
{% endblock %}