{% extends '__init__/layout.html' %}
{% block content %}
  <div class="container ">
    <h1 class="h2 fw-bolder mt-2">Clubs</h1>
    <div class="club-container container mt-4">
      <a class="btn btn-sm btn-success w-25" href="{{ctx.DOMAIN_NAME}}/clubs/create">
        <i class="fa-solid fa-plus mx-2"></i>
        Club</a>
    </div>
    <div class="club-table-container container w-100">
      <p class="h5 fw-bold mt-2 ms-2">All Clubs</p>
      <div class="cards">
        {% if not clubs | is_empty%}
          {% for c in clubs | sort(false, true, 'datetime') | reverse %}
            <div class="d-flex my-2">
              <a class="text-decoration-none text-dark  w-100" href="{{ctx.DOMAIN_NAME}}/clubs/show?clubId={{c._id}}">
                <img src="/images/club.jpg" style="width: 50px; height: 50px;" id="globalchat-participant-picture">
                <span class="mx-3 h5 fw-bolder">{{c.name}}</span>

                <span style="font-size: 8pt;" class="badge bg-success">
                  {{clubMembers | sizeByClubMember(c._id) }}
                  members
                </span>

                <div class="m-2">
                  <p class="fw-bolder">Description</p>
                  <p>{{c.description}}</p>
                </div>
              </a>
            </div>

          {% endfor %}
        {%else %}
          <p>No Clubs.</p>
        {% endif %}
      </div>
    </div>
  </div>

</div>
{% endblock %}