{% extends 'initial/layout.html' %}
{% block content %}
		<div class="container">
				<div class="container club-form-container">
						<form>
								<div class="form-group w-50">
										<div class="my-4">
												<label for="clubName">Club Name</label>
												<input class="form-control form-control-sm " name="clubName" value="{{club.name}}" readonly="readonly">
										</div>

										<div class="my-4">
												<label for="clubName">Club Date Created:
												</label>
												<input class="form-control form-control-sm " name="clubName" value="{{club.date}}" readonly="readonly">
										</div>
										<div class="my-4">
												<label for="description">
														Description</label>
												<textarea class="d-block" name="description" placeholder="Event Discription" id="" cols="80" rows="10" readonly="readonly">{{club.description}}</textarea>
										</div>
								</div>
								<div class="my-4">
										<label for="description">
												Members</label>
										<a href="{{ctx.DOMAIN_NAME}}/clubs/add-member/{{club._id}}" class="btn btn-sm btn-success m-2">add member</a>
										<ul>
												{% for member in clubMembers %}
														<li>
																<a href="{{ctx.DOMAIN_NAME}}/profile?username={{member.username}}">@{{member.username}}</a>
														</li>
												{% endfor %}
										</ul>
								</div>

								<div class="my-4">
										<label for="description">
												Chats</label>
										<a href="{{ctx.DOMAIN_NAME}}/chats/club/{{club._id}}" class="btn btn-sm btn-success ">Club Live Chat</a>

								</div>
						</div>
				</form>
		</div>
</div>
{% endblock %}