{% extends 'initial/layout.html' %}
{% block content %}
	<div class="container">
		<div class="container club-form-container">
			<form>
				<div class="form-group w-50">
					<div class="my-1">
						<p class="fw-bolder">Club Name</p>
						<div class="h2">{{club.name}}</div>
					</div>
					<div class="my-1">
						<p class="fw-bolder">Creation Date</p>
						<div class="h5">{{club.date | date_formatter}}</div>
					</div>
					<div class="my-1">
						<p class="fw-bolder">Description</p>
						<div class="">{{club.description}}</div>
					</div>
				</div>
				<div class="my-1">
					<label for="description">Live Chats</label>
					<a href="{{ctx.DOMAIN_NAME}}/chats/club/{{club._id}}" class="btn btn-sm btn-success w-50">Club Chat</a>
				</div>
				<div>
					<div class="my-1">
						<label for="description">Club Events</label>
						<p class="text-dark ">
							No Club Event yet.
						</p>
						<a href="{{ctx.DOMAIN_NAME}}/events" class="btn btn-sm btn-success w-50">Club Events</a>
					</div>

					{% if club.creatorId == accountId %}
						<div class="my-1">
							<label for="description">Admin Options</label>
							<a href="{{ctx.DOMAIN_NAME}}/clubs/add-member/{{club._id}}" class="btn btn-sm btn-success m-2 w-50">add member</a>
						</div>
					{% endif %}

					<div class="my-1">
						<div>Club Members</div>
						<ul>
							{% for member in clubMembers %}
								<li>
									<a class="text-decoration-none text-success" href="{{ctx.DOMAIN_NAME}}/profile?username={{member.username}}">@{{member.username}}</a>
								</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
{% endblock %}