<div class="modal " id="edit-post" style="z-index: 9999;" aria-labelledby="edit-post" data-backdrop="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<!-- Modal Header -->
			<div class="modal-header">
				<h5 class="modal-title fw-bolder">EDIT POST</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
			</div>

			<!-- Modal body -->
			<div class="modal-body">
				<form action="">
					<div class="form-group d-flex">
						<input type="text" class="form-control w-100">
						<button class="btn">Edit</button>
					</div>
				</form>
			</div>

		</div>
	</div>
</div>