<div class="modal " id="edit-post" style="z-index: 9999;" aria-labelledby="edit-post" data-backdrop="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<!-- Modal Header -->
			<div class="modal-header">
				<h5 class="modal-title fw-bolder">Edit Post</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
			</div>

			<!-- Modal body -->
			<div class="modal-body">
				<form method="POST" action="{{ctx.DOMAIN_NAME}}/feeds/edit">
					<div class="form-group d-flex">
						<script>
							$(".post-btn").on("click", function (event) {
								let id = event
									.target
									.parentNode
									.id
									.split("-")[2];
								let content = $("#post-" + id).text()

								$("#edit-form-postId").val(id)
								$("#edit-form-post").val(content)
							})
						</script>
						<input id="edit-form-postId" name="postId" hidden="true">
						<input id="edit-form-post" name="post" type="text" class="form-control w-100">
						<button class="btn">Save</button>
					</div>
				</form>
			</div>

		</div>
	</div>
</div>