{% extends '__init__/layout.html' %}
{% block content %}
	<div class="container">
		<div class="container club-form-container">
			<div class="row">
				<div class="col-12 d-flex justify-content-center">
					<div class="col-12 col-lg-10 mt-5">
						<div class="cards w-auto">
							<h5 class="fw-bold">Create Club Announcement</h5>
							<div class="card-body">
								<form action="{{ctx.DOMAIN_NAME}}/clubs/announcement/create?clubId={{clubId}}" method="post">
									<div class="form-group">
										<div>
											<label for="clubAnnouncement">Announcement Title</label>
											<input class="form-control form-control-sm position-relative" style="width: 100%; right: 5px;" name="title" type="text" placeholder="Club Announcement">
										</div>
										<div class="my-4 form-group">
											<label for="description">
												Announcement Description</label>
											<textarea class="d-block w-100" name="content" placeholder="Announcement Description"></textarea>
										</div>

										<div class="w-100 d-flex justify-content-end">
											<input class="btn btn-success" type="submit" value="Save">
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}