@import './../assets/colors';
.btn
{
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border-radius: 50%;
    background: $main-color;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 2rem;
    box-shadow: 20px 20px 68px #d3d3d3, -20px -20px 68px #ffffff;
}
.btn::hover
{
   color: black; 
}
.btn:focus
{
    border-color: $main-color;
    background: $bg-color;
    outline: none;
    box-shadow: none;
} 