.cards
{
    padding: 20px;
    height: auto;
    width: auto;
    margin: 5px;
    background: #F2F2F2;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 2rem;
    box-shadow: 20px 20px 68px #d3d3d3, -20px -20px 68px #ffffff;
}