{% extends 'initial/layout.html' %}
{% block content %}
		<div class="container-fluid">
				<div class="row">
						<div class="wrapper">
								<aside id="feed-aside">
										{% include 'posting/events-swiper.html' %}
										{% include 'posting/club-list.html' %}
								</aside>

								<nav id="feed-post">
									{% include 'posting/create-post.html'%}
								</nav>

								<main id="feed-row" class="overflow-auto" style="height:100vh;">
									{% include 'posting/feed-post.html' %}
								</main>

								<aside id="feed-members-navigation">

									{% include 'posting/weather-forecast.html'%}

									{% include 'posting/active-users.html'%}
								
								</aside>

						</div>
				</div>
		</div>
		<script src="/javascript/post-script.js"></script>
{% endblock %}