<!-- active members -->
<nav id="feed-members-navigation">
    <div class="card lg-mt-5">
            <div class="card-header fw-bolder">
                    Weather for today
            </div>
            <div class="card-body">
                    <table class="table table-borderless">
                            <tr>
                                <td>
                                    <div>
                                        <p>Date: date: 2022-09-18</p>
                                        <p>Location: Dasmarinas</p>
                                        <p>Region: Cavite</p>                      
                                        <p>Country: Philippines</p>
                                    </div>
                                </td>
                                <td>
                                    <p>humidity: 84</p>
                                    <p>temperature(°C): 26</p>
                                    <p>temperature(°F ): 78.8</p>
                                </td>
                                <td>
                                    <p class="m-0" style="font-size: 12px;">average temperature: 82.6</p>
                                    <p class="m-0" style="font-size: 12px;">maximum wind per miles: 17.7</p>
                                    <p class="m-0" style="font-size: 12px;">maximum wind per kilometer: 28.4</p>
                                    <p class="m-0" style="font-size: 12px;">average velocity per kilometer: 9.8</p>
                                    <p class="m-0" style="font-size: 12px;">average velocity per miles: 6</p>
                                </td>
                                <td>
                                    <div>
                                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSYVanYaCxVR1K8SIM5C7YXyVtTH5O2VcsqTA&usqp=CAU" alt="" style="height: 100px; width: 100px">
                                    </div>
                                </td>
                            </tr>
                    </table>
            </div>
    </div>
</nav>