{% extends '__init__/layout.html' %}
{% block content %}
	<div class="container">
		<h1 class="h2 fw-bolder mt-2">About</h1>
		<div class="cards">
			<div class="text-center">
				<img src="/images/pegion_main.png" style="width: 150px; height: 150px;">
				<h2 class="fw-bolder display-3">Kalapatid Developer</h2>
			</div>
			<p class="fw-lighter h2">Greetings!</p>
			<p>Welcome to Kalapatids! We are Kalapatid Developer! We are Developers with passion for Developing Systems.</p>
			<p>We started asdsd with the idea of being able to offer the very best sdsad to help asdsd</p>
			<p>If you are like us then you asdsd</p>
			<p>If so, you are in the right place!</p>

			<p>If there is anything you need, We'll be happy to help if we can</p>
			<p>We look forward to working with you!</p>
			<p class="my-3 fw-bolder">Kalapatid Developer</p>
		</div>

	</div>

{% endblock %}