{% extends '__init__/layout.html' %}
{% block content %}
	<div class="container">
		<h1 class="h2 fw-bolder mt-2">About</h1>
		<div class="cards">
			<div class="text-center">
				<img src="/images/pegion_main.png" style="width: 150px; height: 150px;">
				<h2 class="fw-bolder display-5 text-success">Kalapatid Developer</h2>
			</div>

			<p class="fw-lighter h2">Greetings!</p>
			<p class="text-justify">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sit amet tellus cras adipiscing enim eu turpis egestas. Sed pulvinar proin gravida hendrerit. Eleifend donec pretium vulputate sapien nec sagittis aliquam malesuada. Vitae justo eget magna fermentum iaculis eu.
			</p>
			<p class="mt-5 text-center fw-bold">
				Powered by
			</p>
			<p class="text-center">
				<img src="/images/pegion_main.png" style="width: 50px; height: 50px;">
			
			</div>

		</div>

	{% endblock %}