<div class="d-flex my-2 cards">
	<a class=" text-decoration-none text-dark  w-100 " href="{{ctx.DOMAIN_NAME}}/events/show?eventId={{e._id.toString()}}&clubId={{c._id.toString()}}">
		<img src="/images/events.jpg" style="width: 50px; height: 50px;" id="globalchat-participant-picture">
		<span class="mx-2 h5 fw-bolder">{{e.name}}</span>

		<sub class="mx-2">club:
			{{c.name}}</sub>
		<sub class="mx-2">category:
			{{e.type}}</sub>
		<sub class="mx-2">date:
			{{e.date | date_formatter }}</sub>
		<span style="font-size: 8pt;" class="badge bg-success">
			{{eventParticipants|sizeByEventParticipants(e._id) }}
			participants
		</span>
		<span class="mx-5 px-5 inline-block">

			<p id="eventLocLat-{{e._id.toString()}}" hidden="true">{{e.lat}}</p>
			<p id="eventLocLong-{{e._id.toString()}}" hidden="true">{{e.long}}</p>
			<p id="address-{{e._id.toString()}}" class="mx-5 px-4" style="font-size: 10pt;"></p>
			<script>
				$(function () {
					function getAddressByLocation(lat, long, callback) {

						fetch(`https://nominatim.openstreetmap.org/search.php?q=${lat},${long}&polygon_geojson=1&format=json`)
							.then(response => response.json())
							.then(j => {

								callback(j[0].display_name)
							})
					}

					//get Address by location using eventId as a unique identifier
					let elt = $("#eventLocLat").text()
					let ell = $("#eventLocLong").text()
					console.log(elt, ell)
					getAddressByLocation(elt, ell, (address) => {
						$("#address").text(`Location Address: ${address}`)
					})
				})
			</script>
		</span>

	</a>
</div>