<div class="d-flex my-2 cards">
	<a class=" text-decoration-none text-dark  w-100 " href="{{ctx.DOMAIN_NAME}}/events/show?eventId={{e._id.toString()}}&clubId={{c._id.toString()}}">
		<img src="/images/events.jpg" style="width: 50px; height: 50px;" id="globalchat-participant-picture">
		<span class="mx-2 h5 fw-bolder">{{e.name}}</span>
		<span style="font-size: 8pt;" class="badge bg-success">
			{{eventParticipants|sizeByEventParticipants(e._id) }}
			participants
		</span>
		<div style="font-size: 10pt;">
			<div class="px-5 mx-4">
				<label class="d-inline-block fw-bold">Club:
				</label>
				<p class="d-inline-block">
					{{c.name}}</p>
			</div>

			<div class="px-5 mx-4">
				<label class="d-inline-block fw-bold">Date:
				</label>
				<p class="d-inline-block">
					{{e.date | date_formatter }}</p>
			</div>

			<div class="px-5 mx-4">
				<label class="d-inline-block fw-bold">Event Status:
				</label>
				<p class="d-inline-block">
					{% if e.eventStatus == "Close" %}
						<span class="text-danger">
							<i class="bi bi-x-circle-fill"></i>
							Closed</span>
					{% else %}
						<span class="text-success">
							<i class="bi bi-check-circle-fill"></i>
							Open</span>
					{% endif %}
				</p>
			</div>

			<div class="px-5 mx-4">
				<label class="d-inline-block fw-bold">Event Address</label>
				<span class="event-location d-inline-block">
					<p id="el-{{-e._id.toString()}}"></p>
					<script>
						getAddressByLocation({{e.lat}}, {{e.long}}, "el-{{-e._id.toString()}}");
					</script>
				</div>
			</span>
		</div>

	</a>
</div>