{% extends '__init__/layout.html' %}
{% block content %}
	<div class="container-fluid">
		<form method="post">
			<div class="row">

				<div class="col-lg-3">
					<div class="d-flex justify-content-between align-items-center" style="height: 50px;">
						<h5 class="fw-bold">Participant Request</h5>
					</div>

					<div class="card-body">
						<div class="w-100 text-center my-3">
							<img src="/images/events.jpg" style="width: 100px; height: 90px;" id="account-picture">
						</div>
						<div class="w-auto">
							<div >
								<p class=" text-mute ">Name</p>
								<input class="form-control w-100" type="text" name="name" value="{{username}}" readonly="true">
								{# 
								<p class="text-mute fw-bold py-2">Status</p>
								<select class="form-select form-select-sm py-2  w-100" name="billingStatus" type="text" required="true" aria-label=".form-select-sm" selected="{{event.accessability}}">
									<option value="NotPaid">Not Paid</option>
									<option value="Paid">Paid</option>
								</select> #}
								<p class="text-mute fw-bold">DropOff Point Address</p>
								<p style="font-size: 12pt;" class="text-mute">Province</p>
								<input id="province" name="province" type="text" class="form-control text-center" placeholder="Province" required="true" readonly="true">
								<p style="font-size: 12pt;" class="text-mute">City/Municipality</p>
								<select id="citymun" name="citymun" type="text" class="form-select text-center" placeholder="Town/City" required="true"></select>
								<p style="font-size: 12pt;" class="text-mute">Barangay</p>
								<select id="brgy" name="brgy" type="text" class="form-select text-center" placeholder="Barangay" required="true"></select>
								<script src="https://cdn.jsdelivr.net/gh/marcuwynu23/camarinessur.js/dist/0.0.1/camarinessur.min.js"></script>
								<script>
									$("#province").val("Camarines Sur");

									$("#citymun").append(`<option value="">Select City/Municipality</option>`)
									$("#brgy").append(`<option value="" >Select Barangay</option>`)
									getAllCityByProvinceCodeList((data) => {
										for (var d of data) {
											$("#citymun").append(`<option value="${d.citymunDesc}" data-id="${d.citymunCode}">${ConvertTitleCase(d.citymunDesc)}</option>`)
										}
									})

									$("#citymun").on("change", function () {
										getAllBarangayByCityCodeList($(this).find(":selected").data("id"), (data) => {
											for (var d of data) {
												$("#brgy").append(`<option value="${d.brgyDesc}">${d.brgyDesc}</option>`)
											}
										})
										$("#brgy").empty()
									})
								</script>

								<label class="text-mute">Number of Pigeon to Join</p>
								<input class="form-control form-control-sm  w-100" type="text" name="pigeons" required="true">

								<div class="d-flex mt-2 justify-content-between">
									<input class="btn btn-sm btn-success" type="submit" value="Request">
									<input class="btn btn-sm d-inline-block" id="part-cancel-btn" type="button" value="Cancel">
									<script>
										$("#part-cancel-btn").click((e) => {
											window.location.href = "{{ctx.DOMAIN_NAME}}/events/show?eventId={{eventId}}&clubId={{clubId}}"
										})
									</script>
								</div>
							</div>
						</div>
						<br>
					</div>
				</div>

				<div class="col-lg-8">
					<div class="row">
						<div class="col-lg-12">
							<footer class="mt-3" id="profile-group">
								<div class="cards overflow-auto">
									<div class="card-content mb-3">
										<h5 class="fw-bold">Description</h5>
									</div>
									<div class="card-body d-flex justify-content-between">
										<textarea name="description" required="true"></textarea>
										<input hidden="true" class="form-control form-control-sm mx-1 " name="long" id="eventPartLocLong">
										<input hidden="true" class="form-control form-control-sm  mx-1" name="lat" id="eventPartLocLat">
									</div>
								</div>
							</footer>
						</div>
					</div>

				</div>
			</div>
		</form>
	</div>
	<script src="/javascript/lib.js"></script>
	<script>
		if (!navigator.geolocation) {} else {
			navigator
				.geolocation
				.getCurrentPosition(function (position) {
					let {latitude, longitude} = position.coords;
					$("#eventPartLocLong").val(longitude)
					$("#eventPartLocLat").val(latitude)
				});
		}
	</script>
{% endblock %}