:root {
  --primary-color: #f2f2f2;
  --secondary-color: #2DA380;
  --typography: #2D2626;
  --placeholder: #C5C3C3;
}

/* global */

body {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
}

/* LAYOUTS */
/* center layout */
.center-layout {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* COMPONENTS */
/* default card */
.card {
  height: auto;
  width: 600px;
  background: #F2F2F2;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 2rem;
  box-shadow: 20px 20px 68px #d3d3d3, -20px -20px 68px #ffffff;
}

/* form input */
.form-container {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.form-container input {
  height: 40px;
  width: 350px;
  color: var(--typography);
  border-radius: 50px;
  background: #F2F2F2;
  box-shadow: 5px 5px 10px #cecece, -5px -5px 10px #ffffff;
  border: 2px #ffffff solid;
}

.form-container input::placeholder {
  color: #C5C3C3;
}

.form-container input:focus {
  color: #212529;
  background-color: #fff;
  border-color: var(--placeholder);
  outline: 0;
  box-shadow: none;
}
.form-control
{
  margin-top: 5px;
  margin-bottom: 5px;
}
/* default round button */
.btn {
  height: 45px;
  width: 45px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 50%;
  color: var(--placeholder);
  background: var(--secondary-color);
}

.btn:hover {
  color: var(--secondary-color);
  background: var(--primary-color);
  border: 3px var(--secondary-color) solid;
}

.btn:focus {
  box-shadow: none;
}

/* login */
.logo-container {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-container #identify-logo,
#auth-logo {
  width: 170px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner {
  margin: 10px auto;
  font-size: 25px;
  color: #2D2626;
}

.input-group {
  width: 320px;
  margin: 10px;
}

.input-group .input-group-prepend {
  height: auto;
}

.input-group .input-group-prepend .custom-input {
  background: #F2F2F2;
  border: none;
}

.input-group .input-group-prepend .custom-input .fa {
  height: 25px;
  width: 25px;
  position: relative;
  font-size: 20px;
  top: 5px;
}

.form-group input[type=text] {
  all: unset;
  width: 250px;
  border-bottom: 3px #2DA380 solid;
}

.form-group input[type=text]::placeholder {
  color: #C5C3C3;
}

.checkbox {
  margin: 10px 0;
}

.checkbox input[type=checkbox] {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #F2F2F2;
  border: 2px #2DA380 solid;
  transition: 0.5s;
}

.checkbox input[type=checkbox]:checked {
  background: #2DA380;
  outline: none;
  box-shadow: none;
}

.checkbox input[type=checkbox]:focus {
  box-shadow: none;
}

.checkbox p {
  font-size: 15px;
}

.checkbox,
.btn-container {
  width: 285px;
  position: relative;
  left: 26px;
}

.btn-container input[type=submit] {
  margin: 10px 0;
  background: #2DA380;
  border: 2px #F2F2F2 solid;
  color: #C5C3C3!important;
}

.auth {
  width: 285px;
  position: relative;
  left: 26px;
  font-size: 14px;
}

.auth div {
  margin: 10px 0 0 0;
  cursor: pointer;
}

.auth :nth-child(1) {
  color: #2DA380;
}

/* identify page */
.identify {
  text-align: center;
  display: flex;
  justify-content: center;
}

.action-banner p {
  color: #C5C3C3;
  font-size: 14px;
}
/* registration */
.registration-header
{
  position: relative;
  top: 60px;
  z-index: 2;
}
.carousel-item
{
  padding: 60px;
}
#registration-carousel
{
  display: flex;
  justify-content: center;
  align-content: center;
  width: auto;
}
.carousel-indicators
{
  position: relative;
  top: 310px;
}
.carousel-indicators [data-bs-target] {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: var(--secondary-color);
  background-clip: padding-box;
  border: 2px solid var(--placeholder);
  opacity: .5;
  transition: opacity .6s ease;
}
.carousel-indicators .active {
  background: none;
}
.carousel-control-next-icon, .carousel-control-prev-icon {
  background-image: none;
}
/* breakpoints */
@media (max-width: 575px) {
  .card {
    height: 100vh;
    width: 100vw;
    border: none;
    border-radius: 0%;
  }

  .checkbox,
  .btn-container {
    width: 285px;
    position: relative;
    left: 26px;
  }
}