#profile-wrapper
{
    height: 100vh;

    #profile-main
    {
        height: 80vh;
        
    .cards
        {
            height: 100%;

            #profile-picture
            {
                img
                {
                    padding: 3px;
                    border-radius: 50%;
                    border: 3px solid green;
                }
            }

            #profile-id
            {
                font-size: 12px;
            }
        }
    }

    #profile-information
    {
        main
        {
            height: 30vh;
        }
        .cards
        {
            height: 100%;
        }
    }

    #profile-group
    {
        height: 50vh;
        .cards
        {
            height: 96%;
        }
    }
}

// breakpoints.
// mobile device
@media (max-width: 768px) 
{
    #profile-wrapper
    {
        #profile-main
    {
        height: auto;
        margin-bottom: 10px;
        
    .cards
        {
            height: auto;

            #profile-picture
            {
                img
                {
                    padding: 3px;
                    border-radius: 50%;
                    border: 3px solid green;
                }
            }

            #profile-id
            {
                font-size: 12px;
            }
        }
    }

    #profile-information
    {
        main
        {font-size: 14px;
            height: auto;
        }
        .cards
        {
            margin: 10px;
            height: 100%;
        }

        .card-header
        {
            margin-bottom: 10px;
        }
    }

    #profile-group
    {
        height: auto;
        .cards
        {
            height: 100%;

            #profile-link
            {
                display: flex;
            }
            table td div, table td #profile-link a
            {
                font-size: 12px;
                font-weight: 500;
            }
        }
    }
    }    
}

// tablet.

@media (min-width: 768px) and (max-width: 992px) 
{
    #profile-wrapper
    {
        #profile-main
    {
        height: auto;
        margin-bottom: 10px;
        
    .cards
        {
            height: 100%;

            #profile-picture
            {
                img
                {
                    padding: 3px;
                    border-radius: 50%;
                    border: 3px solid green;
                }
            }

            #profile-id
            {
                font-size: 12px;
            }
        }
    }

    #profile-information
    {
        main
        {font-size: 14px;
            height: auto;
        }
        .cards
        {
            margin: 10px;
            height: 100%;
        }

        .card-header
        {
            margin-bottom: 10px;
        }
    }

    #profile-group
    {
        height: auto;
        .cards
        {
            height: 100%;

            #profile-link
            {
                display: flex;
            }
            table td div, table td #profile-link a
            {
                font-size: 14px;
                font-weight: 500;
            }
        }
    }
    }    
}

// pc screen.

@media (min-width: 992px) and (max-width: 1200px) 
{
    #profile-group
    {
        height: 30vh;
    }    
}