{% extends 'initial/layout.html' %}
{% block content %}
	<div class="container">

		<h1>Create Event</h1>
		<div class="container event-form-container">
			<form method="post">
				<div class="form-group w-50">
					<div class="my-4">
						<label for="eventName">
							Name</label>
						<input class="form-control form-control-sm " name="name" type="text" placeholder="Event Name" required="true">
					</div>
					<div class="my-4">
						<label for="type">
							Type</label>
						<input class="form-control form-control-sm " list="types" name="type" type="text" required="true">
						<datalist id="types">
							<option value="Event type 1">
								<option value="Event type 2">
									<option value="Event type 3"></datalist>
								</div>
								<div class="my-4">
									<label for="description">
										Description</label>
									<textarea class="d-block" name="description" placeholder="Event Discription" id="" cols="80" rows="3" required="true"></textarea>
								</div>
								<div class="my-4">
									<label for="date">
										Date</label>
									<input class="form-control form-control-sm " name="date" type="date" placeholder="Event Date" required="true">
								</div>
								<div class="my-4">
									<div id="event-map" style="width: fit-content; height:300px;"></div>
									<label>
										Location</label>
									<br>
									<div class="input-group">
										<label class="mx-1" for="long">X</label>
										<input class="form-control form-control-sm mx-1 " name="long" id="eventLocLong" type="location" placeholder="Event Location" required="true">
										<label class="mx-1" for="lat">Y</label>
										<input class="form-control form-control-sm  mx-1" name="lat" id="eventLocLat" type="location" placeholder="Event Location" required="true">
									</div>
								</div>
								<div class="my-4">
									<label for="hourStart">
										Time Start</label>
									<input class="form-control form-control-sm " name="hourStart" type="time" placeholder="Event Start Time" required="true">
								</div>
								<div class="my-4">
									<label for="hourEnd">
										Time End</label>
									<input class="form-control form-control-sm " name="hourEnd" type="time" placeholder="Event End Time" required="true">
								</div>

								<input class="my-4" type="submit" value="Save">
							</div>
						</form>
					</div>
				</div>
				<script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?callback=GetCreateEventMap&key=Avdjdh0dcTQygVUUyePmkfhJrLB2zOS-hAej45Sw9C2vc0EZg_A8TmY1Yk3ggewJ' async="async" defer="defer"></script>
				<script type="text/javascript" src="/javascript/script.js"></script>
			{% endblock %}