{% extends '__init__/layout.html' %}
{% block content %}
	<div class="container-fluid">
		<form method="post">
			<div class="row">

				<div class="col-lg-3">
					<div class="d-flex justify-content-between align-items-center" style="height: 50px;">
						<h5 class="fw-bold">Participant Request</h5>
					</div>

					<div class="card-body">
						<div class="w-100 text-center my-3">
							<img src="/images/events.jpg" style="width: 100px; height: 90px;" id="account-picture">
						</div>
						<div class="w-auto">
							<div >
								<p class=" text-mute ">Name</p>
								<input type="text" name="name" value="{{username}}" readonly="true">

								<p class="text-mute">Number of Pigeon to Join</p>
								<input type="text," name="pigeons">
							</div>
						</div>
						<br>
					</div>
				</div>

				<div class="col-lg-8">
					<div class="row">
						<div class="col-lg-12">
							<footer class="mt-3" id="profile-group">
								<div class="cards overflow-auto">
									<div class="card-content mb-3">
										<h5 class="fw-bold">Description</h5>
									</div>
									<div class="card-body d-flex justify-content-between">
										<textarea name="description" id="" cols="150" rows="10"></textarea>
										<input hidden="true" class="form-control form-control-sm mx-1 " name="long" id="eventPartLocLong">
										<input hidden="true" class="form-control form-control-sm  mx-1" name="lat" id="eventPartLocLat">
									</div>
								</div>
							</footer>
						</div>
					</div>

				</div>
			</div>
			<input class="my-4 btn btn-success" type="submit" value="Send Request">
			<input class="btn d-inline-block" id="part-cancel-btn" type="button" value="cancel">
			<script>
				$("#part-cancel-btn").click((e) => {
					let domain = location
						.href
						.split("/")[3]
					let origin = location.origin
					let params = new URL(location.href).searchParams
					let clubId = params.get("clubId")
					let eventId = params.get("eventId")
					let href = `${origin}/${domain}/events/show?eventId=${eventId}&clubId=${clubId}`
					window.location.href = href

				})
			</script>
		</form>
	</div>

	<script>
		if (!navigator.geolocation) {} else {
			navigator
				.geolocation
				.getCurrentPosition(function (position) {
					let {latitude, longitude} = position.coords;
					$("#eventPartLocLong").val(longitude)
					$("#eventPartLocLat").val(latitude)
				});
		}
	</script>
{% endblock %}