{% extends 'initial/layout.html' %}
{% block content %}
		<div class="container">
				<div class="container club-form-container">
						<form method="post">
								<div class="form-group w-50">
										<div class="my-1">
												<p class="fw-bolder">Event Name</p>
												<div class="h2">{{event.name}}</div>
										</div>
										<div class="my-1">
												<p class="fw-bolder">Creation Date</p>
												<div class="h5">{{event.date | date_formatter}}</div>
										</div>
										<div class="my-1">
												<p class="fw-bolder">Event Type</p>
												<div class="h5">{{event.type}}</div>
										</div>
										<div class="my-1">
												<p class="fw-bolder">Description</p>
												<div class="">{{event.description}}</div>
										</div>
								</div>
								<div class="my-1">
										<p class="fw-bolder">Start Time</p>
										<div class="">{{event.hourStart}}</div>
								</div>
								<div class="my-1">
										<p class="fw-bolder">End Time</p>
										<div class="">{{event.hourEnd}}</div>
								</div>

								<div class="my-1">
										<p class="fw-bolder">Location</p>
										<div id="event-show-map" style="width: fit-content; height:300px;"></div>
										<div class="input-group">
												<input hidden="hidden" class="form-control form-control-sm mx-1 " id="showeventLocLong" value="{{event.long}}">
												<input hidden="hidden" class="form-control form-control-sm  mx-1" id="showeventLocLat" value="{{event.lat}}">
										</div>
								</div>
								{% if event.accountId == accountId %}
										<div class="my-1">
												<p class="fw-bolder">Creator Options</p>
												<a href="{{ctx.DOMAIN_NAME}}/events/add-participant/{{event._id}}" class="btn btn-sm btn-success m-2 w-50">add participant</a>
										</div>
								{% endif %}
								<div class="my-4">
										<p class="fw-bolder">Participants</p>
										<ul>
												{% for participant in eventParticipants %}
														<li>
																<a href="{{ctx.DOMAIN_NAME}}/profile?username={{participant.username}}">@{{participant.username}}</a>
														</li>
												{% endfor %}
										</ul>

								</div>
						</div>
				</form>
		</div>
</div>

<script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?callback=GetShowEventMap&key=Avdjdh0dcTQygVUUyePmkfhJrLB2zOS-hAej45Sw9C2vc0EZg_A8TmY1Yk3ggewJ' async="async" defer="defer"></script>
<script type="text/javascript" src="/javascript/script.js"></script>
{% endblock %}